* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

/* Check list link style */
nav ul li a {
  text-decoration: none;
  color: #8f8a99;
}

/* Make text bold on hover */
nav ul li a:hover {
  color: #000;
  font-weight: 500;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

/* Check margin and font styling */
.text h1 {
  font-family:'Mulish', sans-serif;
  font-size: 3.1rem;
  font-weight:lighter;
  margin-top: 1.5rem;
}

/* Check font styling */
.text h1 span {
  color: #89c5cb;
  font-weight: 600;
  line-height: 5rem;
}

/* Check font styling */
.text p {
  font-family: 'Open Sans', sans-serif; 
  color: #acabb5;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  margin-top: 1.3rem;
  line-height: 1.7rem;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 8px;
  padding:0.9rem 2.1rem;
  background-color: #69B99E;
  margin-top: 2.8rem;
  color: #F9F9F9;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: #5DC4A2; /* Warna latar belakang saat di-hover */
  transform: scale(1.05);
}

/* Check the text styling */
footer {
  font-family: 'Open Sans', sans-serif; 
  display: flex;
  justify-content: center;
  color: #2F302F;
}

/* Check the text styling */
footer a {
  margin-left: 0.2rem;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

